<!--inspiration fetched from:
 http://www.mademyday.de/css-height-equals-width-with-pure-css.html
 So the idea here is to use the 1:1 board and 1:1 for each image.
 Notice the row with all images with small height, the row keeps its height!
 Still not 100% perfect:
   *) The pictures aren't vertically centered yet
   *) The vertical-align is miss placed. Set background of board to see this.
      Frankly I'm not sure how this works... what is then aligning the board vertically!?
   *) When streched the board is not keeping it's 1:1 shape, nor are the image containers
      but! the images don't overflow and that's good.

eaualWH3 tries not to use this 1:1 trick, only flex-box to position the images/items and let them grow/shrink remaining
their ratio and keeping them in center-center of their position.
 -->
<style>

    .horizontal-container{
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .side-pane{
        flex-grow: 0.15;
        background: #add8e6;
    }

    /*Board with equal height and width*/
    .board-container{
        position:relative;
        width: 80%;                 /*size relative parent element*/
    }
    .board-container:before{
        content: "";
        display: block;
        padding-top: 100%;   /*aspect ratio, try: 50%, 200%, 75%, 56.25%*/
    }
    .board-container-content{
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        right: 0;

        padding: 5px;
    }

    /*Image with equal height and width*/
    .image-container{
        position:relative;
        width: 100%;                 /*size relative parent element*/

        border: solid lightgrey 1px;
        margin: 5px;
    }
    .image-container:before{
        content: "";
        display: block;
        padding-top: 100%;   /*aspect ratio, try: 50%, 200%, 75%, 56.25%*/
    }
    .image-container-content{
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        right: 0;

        padding: 5px;
        /*overflow: auto;     *//*show scroll only when needed. Needed if image allowed to*/
        /*overflow by setting height and width to 100% and auto respectively*/
    }
    .image-back{
        max-height: 100%;     /*Experiment with 150% for image-front, and no overflow in parent container to let image flow over*/
        max-width: 100%;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .image-front{
        max-height: 100%;     /*Experiment with 150% for image-front, and no overflow in parent container to let image flow over*/
        max-width: 100%;

        /*horizontally center*/
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .row{
        display: flex;

        justify-content: center;
    }
    .vertical-align{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

</style>



<body>

<div class="horizontal-container">

    <div class="side-pane">
        <p>Left</p>
    </div>

    <div class="board-container">
        <div class="board-container-content">
            <div class="vertical-align">

                <div ng-repeat="row in twoDArray"
                     class="row">
                    <div ng-repeat="col in row"
                         class="image-container"
                            ng-click="handleCardClick(col)">
                        <div class="image-container-content">

                            <img class="image-back"
                                 ng-src="{{col.imgBack}}"
                                 ng-hide="col.isFrontSideShown">
                            <img class="image-front"
                                 ng-src="{{col.imgFront}}"
                                 ng-show="col.isFrontSideShown">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="side-pane">
        <p>Right</p>
    </div>
</div>

</body>
</html>