<style>
    .container{
        display: flex;
        flex-direction: column;
        /*height: 100%;*/
        background: lightyellow;
    }

    #board {
        /*Needed?*/
        /*display: flex;*/
        /*flex-direction: column;*/

        background: lightgreen;
    }
    #board .data-row {
        display: flex;
        flex-direction: row;
    }

    #board .data-elem{
        background: #04e141;
        padding: 5px;
        margin: 5px;
    }
    #board .image{
        width: 100%;
        height: auto;
    }
    #board .id{
    }
</style>

<body ng-controller="FlexBox2Ctrl">
<div class="container">
    <!--Without <table>, only CSS! -->
    <div id="board">
        <div ng-repeat="row in twoDArray"
             class="data-row">
            <div ng-repeat="col in row">
                <div class="data-elem">
                    <p class="id">{{col.id}}</p>
                    <img class="image"
                         src="{{col.img}}">
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>
    <style>
        .board2{
            background: lightyellow;
        }
        .data-row2{
            display: flex;
            flex-direction: row;
        }
        .data-row-elem2{
            margin: 5px;
            background: lightcyan;
            width: 100%;
        }
    </style>

    <div class="board2">
        <div class="data-row2">
            <div class="data-row-elem2">
                <div class="data-elem">
                    <p>0.0</p>
                </div>
            </div>
            <div class="data-row-elem2">
                <div class="data-elem">
                    <p>0.1</p>
                </div>
            </div>
            <div class="data-row-elem2">
                <div class="data-elem">
                    <p>0.2</p>
                </div>
            </div>
        </div>
        <div class="data-row2">
            <div class="data-row-elem2">
                <div class="data-elem">
                    <p>1.0</p>
                </div>
            </div>
            <div class="data-row-elem2">
                <div class="data-elem">
                    <p>1.1</p>
                </div>
            </div>
            <div class="data-row-elem2">
                <div class="data-elem">
                    <p>2.2</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
