<style>
    .container{
        height: 500px;
        width: 500px;
    }

    .board {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*height: 100%;*/
        background: lightgreen;
    }
    .data-row {
        display: flex;
        flex-direction: row;
    }
    /*
    Angular is surrounding .data-elem with a div with class ng-scope
    this css takes care of that by repeating data-elems' stuff
    */
    .data-row > .ng-scope{
        margin: 5px;
        background: #04e141;
        width: 100%;
    }
    .data-elem{
        background: #04e141;
        margin: 5px;
    }
    .img-container{
        display: flex;
        flex-grow:1;
    }
    .img-back{
        /*position: absolute;*/
        width: 100%;
        height: 100%;
    }
    .img-front{
        width: auto;
    }
</style>

<body ng-controller="FlexBox2Ctrl">
<div class="container">
    <!--Without <table>, only CSS! -->
    <div class="board">
        <div ng-repeat="row in twoDArray"
             class="data-row">
            <div ng-repeat="col in row">
                <div class="data-elem">
                        <!--<p>{{col.id}}</p>-->
                    <div class="img-container">
                        <img class="img-back"
                             ng-src="{{col.imgBack}}"
                             ng-click="handleCardClick(col)"
                             ng-hide="col.isFrontSideShown"  >
                        <img class="img-front"
                             ng-src="{{col.imgFront}}"
                             ng-click="handleCardClick(col)"
                             ng-show="col.isFrontSideShown">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>
    <!--<style>-->
        <!--.board2{-->
            <!--background: lightyellow;-->
        <!--}-->
        <!--.data-row2{-->
            <!--display: flex;-->
            <!--flex-direction: row;-->
        <!--}-->
        <!--.data-elem2{-->
            <!--margin: 5px;-->
            <!--background: lightcyan;-->
            <!--flex-grow: 1;-->
        <!--}-->
    <!--</style>-->

    <!--<div class="board2">-->
        <!--<div class="data-row2">-->
            <!--<div class="data-elem2">-->
                    <!--<p>0.0</p>-->
                <!--<div class="img-container">-->
                    <!--<img class="img-back"-->
                         <!--ng-src="{{twoDArray[0][0].imgBack}}"-->
                         <!--ng-click="handleCardClick2(twoDArray[0][0])"-->
                         <!--ng-hide="col.isFrontSideShown">-->
                    <!--<img class="img-front"-->
                         <!--ng-src="{{twoDArray[0][0].imgFront}}"-->
                         <!--ng-click="handleCardClick2(twoDArray[0][0])"-->
                         <!--ng-show="col.isFrontSideShown">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="data-elem2">-->
                    <!--<p>0.1</p>-->
                <!--<div class="img-container">-->
                    <!--<img class="img-back" ng-src="{{twoDArray[0][0].imgBack}}">-->
                    <!--<img class="img-front" ng-src="{{twoDArray[0][0].imgFront}}">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="data-elem2">-->
                    <!--<p>0.2</p>-->
                <!--<div class="img-container">-->
                    <!--<img class="img-back" ng-src="{{twoDArray[0][0].imgBack}}">-->
                    <!--<img class="img-front" ng-src="{{twoDArray[0][0].imgFront}}">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="data-row2">-->
            <!--<div class="data-elem2">-->
                    <!--<p>1.0</p>-->
                <!--<div class="img-container">-->
                    <!--<img class="img-back" ng-src="{{twoDArray[0][0].imgBack}}">-->
                    <!--<img class="img-front" ng-src="{{twoDArray[0][0].imgFront}}">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="data-elem2">-->
                    <!--<p>1.1</p>-->
                <!--<div class="img-container">-->
                    <!--<img class="img-back" ng-src="{{twoDArray[0][0].imgBack}}">-->
                    <!--<img class="img-front" ng-src="{{twoDArray[0][0].imgFront}}">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="data-elem2">-->
                    <!--<p>2.2</p>-->
                <!--<div class="img-container">-->
                    <!--<img class="img-back" ng-src="{{twoDArray[0][0].imgBack}}">-->
                    <!--<img class="img-front" ng-src="{{twoDArray[0][0].imgFront}}">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</body>
